.contact-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/utils/images/contact-page-img.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
